body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  text-align: center;
  background-color: #f8eebc;
}
h1,
h3 {
  color: #45a590;
}
.nav {
  background-color: #45a590;
  color: white;
  text-align: center;
  padding: 4px;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  text-decoration: none;
}
a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

svg {
  height: 2em;
  width: 2em;
}
.btn-up svg {
  fill: #45a590;
}
.btn-down svg {
  fill: red;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f8eebc;
  color: #45a590;
  text-align: center;
}
