body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  text-align: center;
  background-color: #f9f6e5;
}
h1,
h3 {
  color: #45a590;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  text-decoration: none;
}
a {
  text-decoration: none;
  color: #45a590;
  text-transform: uppercase;
}
