body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  text-align: center;
  background-color: #f0fff5;
}
h1,
h3 {
  color: #45a590;
}
.nav {
  background-color: #49a30d;
  background-image: url("https://www.transparenttextures.com/patterns/worn-dots.png");
  color: white;
  text-align: center;
  padding: 4px;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  text-decoration: none;
}
a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}
.btn-up {
  background-color: #f0fff5;
  border: none;
  border-radius: 10px;
  padding-right: 20px;
  padding-top: 30px;
}
.btn-down {
  background-color: #f0fff5;
  border: none;
  padding-left: 20px;
  padding-top: 30px;
}

svg {
  height: 2em;
  width: 2em;
}
.btn-up svg {
  fill: #45a590;
}
.btn-down svg {
  fill: red;
  border: none;
}
.arrow {
  color: #45a590;
  padding: 20px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f0fff5;
  color: #45a590;
  text-align: center;
}

/* Search */
.displayCard {
  display: inline-block;
  padding: 5px;
  margin: 10px;
}
.displayCard img {
  border-radius: 10%;
  max-height: 130px;
}
.hidden {
  visibility: hidden;
}
button {
  padding: 10px;
  background-color: #87c9a1;
  border: thin;
  color: #f0fff5;
  width: 50%;
}
.gender {
  width: 50%;
}
.animal {
  display: block;
  width: 15%;
}
.display {
  width: 75%;
  height: 100%;
  position: absolute;
  top: 15%;
  left: 20%;
  background-color: #f0fff5;
}

.active,
.active11,
.active21,
.active31 {
  background: #f5b7b1;
}
.active1,
.active12,
.active22,
.active32 {
  background: #a9cce3;
}
.active2,
.active23,
.active33 {
  background: #d7bde2;
}
.active3,
.active13,
.active24,
.active34 {
  background: #7993ee;
}
.active4,
.active14,
.active25,
.active35 {
  background: #fad7a0;
}
.active5,
.active15,
.active26,
.active36 {
  background: #f1948a;
}
.active6,
.active16,
.active27 {
  background: #c39bd3;
}
.active7,
.active17,
.active28 {
  background: #85c1e9;
}
.active8,
.active18,
.active29 {
  background: #f8c471;
}
.active9,
.active19,
.active30 {
  background: #f5bae4;
}
.active10,
.active20 {
  background: #60addf;
}
